#h-box {
    /*-fx-background-image: url("pics/background.jpg");*/
    /*-fx-background-image: url("pics/b4.jpg");*/
    /*-fx-background-image: url("pics/h-box.jpg");*/
    /*-fx-background-image: url("pics/h-box.jpg");*/
    /*-fx-background-size: cover;*/
    /*-fx-background-size: contain;*/
    /*-fx-background-size: stretch;*/
    /*-fx-background-image: url("pics/background.jpg");*/
    /*-fx-background-size: cover;*/
}

#data-label {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-fill: #001c80;
}

.data-button {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-pref-width: 79px;
    /*-fx-text-fill: #828282;*/
}