#items-table tr:nth-child(even),
#store-items-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#items-table tr:hover,
#store-items-table tr:hover {
    background-color: #ddd;
}

#items-table td, #items-table th,
#store-items-table td, #store-items-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#items-table {
    width: 70%;
    border-collapse: collapse;
}

#store-items-table {
    width: 45%;
    border-collapse: collapse;
}

.items-table-col,
.store-items-table-col {
    background-color: #0f6dbe;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.items-table-cell,
.store-items-table-cell {
    text-align: center;
}


#items-table-caption {
    color: #0f6dbe;
    margin-bottom: 5px;
    font-size: 24px;
}

.store-details-container {
    background-color: #b9d8f3;
    width: 45%;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
}