#no-stores-p,
#no-store-orders-p,
#orders-accordion-container {
    display: none;
}

#stores-select-container {
    margin-bottom: 20px;
}

#stores-select-label {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

#stores-select {
    height: 26px;
}

#no-stores-p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.order-accordion-button {
    background-color: #c8e6f3;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 70%;
    height: 70px;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    border-style: solid;
    border-color: #0378ab;
    border-width: 1px;
    border-radius: 5px;
}

.order-accordion-button-active, .order-accordion-button:hover {
    background-color: #a5dbf3;
}

.order-panel-container {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.order-accordion-button:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.order-accordion-button-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#order-items-table td, #order-items-table th {
    border: 1px solid #090909;
    padding: 2px;
}

#order-items-table {
    width: 65%;
    border-collapse: collapse;
}

.order-items-table-col {
    background-color: #e4e9ec;
    color: black;
    text-align: center;
    word-wrap: break-word;
}

.order-items-table-cell {
    text-align: center;
}
