#header{
    color: blue;
    margin-left: 20px;
    text-align: center;
    font-family: Georgia, cursive;
}

#stores-select-label {
    font-weight: bold;
    font-size: 18px;
}

#stores-select {

}

#stores-orders-container {
    display: none;
}
