#border-pane {
    -fx-background-color: #fff4de;
}

#inner-border-pane {
    -fx-background-color: #fff4de;
}

#table-view .table-column{
    -fx-alignment: CENTER;
}

#header-title {
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-font-size: 24px;
    -fx-text-fill: #772a77;
}