#chat-submit-button, #charge, #credit-label {
    margin-left: 5px;
}

.dashboard-buttons {
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    background-color: #0f6dbe;
    border-color: #0b63b0;
}


#upload-file-msg-label {
    font-weight: normal;
}

#sell-zones-table {
    /*align-content: center;*/
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    /*padding: 15px;*/
}

.sell-zones-table-col {
    /*background-color: black;*/
    /*color: white;*/
    text-align: center;
    /*word-wrap: break-word;*/
}

.sell-zones-table-cell {
    /*position: center;*/
    text-align: center;
}

.charge-credit-label {
    font-weight: bold;
    font-size: 18px;
}

#date {
    line-height: 25px;
}

#credit {
    font-size: 18px;
}

#account-table {
    /*align-content: center;*/
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    /*padding: 15px;*/
}

.account-table-col {
    text-align: center;
    /*word-wrap: break-word;*/
}

.account-table-cell {
    /*position: center;*/
    text-align: center;
}
