#upload-file-form-submit{
    /*visibility: hidden;*/
}

#sell-zones-table {
    /*align-content: center;*/
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    /*padding: 15px;*/
}

.sell-zones-table-col{
    text-align: center;
    /*word-wrap: break-word;*/
}

.sell-zones-table-cell{
    /*position: center;*/
    text-align: center;
}
