#header {
    color: blue;
    margin-left: 20px;
    text-align: center;
    font-family: Georgia, cursive;
}

#stores-select-container, #items-table-container {
    display: none;
}

#items-table-container {
    position:relative;
    /*width: 200px;*/
}

#items-table-scroll {
    /*width: 200px;*/
    display: inline-block;
    /*position: relative;*/
    height:150px;
    /*width: content-box;*/
    overflow:auto;
    /*margin-top:20px;*/
    /*display: block;*/
}

#items-table {
    /*width: 100%;*/
    /*width: 200px;*/
    border: 1px solid black;
    border-collapse: inherit;
    /*padding: 15px;*/
    /*border-spacing: 5px;*/
}

#items-table-container table thead th .items-table-col {
    position:absolute;
    top:-20px;
    height:20px;
    /*width:80%;*/
    /*border:1px solid red;*/
    text-align: center;
    /*align-items: center;*/
    /*word-wrap: break-word;*/
}

.items-table-cell {
    /*position: center;*/
    text-align: center;
}

#items-table-caption {
    margin-bottom: 5px;
    font-size: 24px;
}

#order-summery-dynamic-order-stores-details-container {
    display: none;
}
