#header {
    color: blue;
    margin-left: 20px;
    text-align: center;
    font-family: Georgia, cursive;
}

#stores-select-container, #items-table-container, #order-summery-dynamic-order-stores-details-container,
#order-discounts-container, #order-summery-stores-info-container {
    display: none;
}

#items-table-container {
    position:relative;
    /*width: 200px;*/
}

#items-table-scroll {
    /*width: 200px;*/
    display: inline-block;
    /*position: relative;*/
    height:150px;
    /*width: content-box;*/
    overflow:auto;
    /*margin-top:20px;*/
    /*display: block;*/
}

#items-table {
    /*width: 100%;*/
    /*width: 200px;*/
    border: 1px solid black;
    border-collapse: inherit;
    /*padding: 15px;*/
    /*border-spacing: 5px;*/
}

#items-table-container table thead th .items-table-col {
    position:absolute;
    top:-20px;
    height:20px;
    /*width:80%;*/
    /*border:1px solid red;*/
    text-align: center;
    /*align-items: center;*/
    /*word-wrap: break-word;*/
}

.items-table-cell {
    /*position: center;*/
    text-align: center;
}

#items-table-caption {
    margin-bottom: 5px;
    font-size: 24px;
}

.discount-container {
    /*border: thick black;*/
    /*background-color: #87CEEB;*/
}

.discount-header {
    color: #6231a5;
    margin-left: 20px;
    /*text-align: center;*/
    font-family: Georgia, cursive;
}

.discount-field-label {
    font-weight: bold;
    color: black;
}

.apply-discount-button {
    margin-right: 10px;
}

.discount-single-offer-radio-button {
    /*margin-right: 5px;*/
}

.discount-applies-amount-label {
}

#order-summery-stores-info-ul {
    padding: 0;
    margin: 0;
    list-style: none;

    /*-ms-box-orient: horizontal;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}

.order-summery-stores-info-ul li {
    background: deepskyblue;
    /*background: tomato;*/
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;

    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
