#border-pane {
    /*-fx-border-color: black;*/
    /*-fx-border-width: 2px;*/
}

#table-view .table-column{
    -fx-alignment: CENTER;
}

#header-title {
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-font-size: 24px;
    -fx-text-fill: #772a77;
}