#header{
    color: blue;
    margin-left: 20px;
    text-align: center;
    font-family: Georgia, cursive;
}

#add-item-form-container {
    display: none;
}


.add-item-label {
    font-weight: bold;
    color: black;
}

#stores-table-caption {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

#stores-table {
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    /*padding: 15px;*/
}

#stores-table-container table thead th .stores-table-col{
    position:absolute;
    top:-20px;
    height:20px;
    /*width:35%;*/
    /*border:1px solid red;*/
    text-align: center;
    /*word-wrap: break-word;*/
}

.stores-table-cell{
    /*position: center;*/
    text-align: center;
}
